:host{
  display:block;
}

.layout-container{
  display:flex;
  min-height:100vh;
  background:#f4f6f9;
}

.sidebar{

  width:280px;
  background:#145528;

  color:#fff;

  display:flex;
  flex-direction:column;

  transition:.3s;
}

.logo-section{
  padding:25px 20px;
  display:flex;
  align-items:center;
  gap:12px;
  border-bottom:1px solid rgba(255,255,255,.1);
}

.logo-section img{
  width:55px;
  height:55px;
  border-radius:12px;
}

.logo-section h2{
  margin:0;
}

.logo-section span{
  color:rgba(255,255,255,.7);
  font-size:.85rem;
}

.sidebar nav{
  padding:20px 0;
  flex:1;
}

.sidebar nav a{

  display:flex;
  align-items:center;
  gap:15px;

  color:#fff;
  text-decoration:none;

  padding:15px 25px;

  transition:.3s;
}

.sidebar nav a:hover,
.sidebar nav a.active{
  background:rgba(255,255,255,.1);
  border-left:4px solid #fff;
}

.sidebar nav a:hover{
    background: rgb(0, 172, 129);
}

.sidebar nav i{
  width:22px;
}

.logout-section{
  padding:20px;
}

.logout-section a{

  display:flex;
  align-items:center;
  gap:12px;

  text-decoration:none;

  color:#fff;

  background:#0e451f;

  padding:14px;

  border-radius:10px;
}

.main-content{
  flex:1;
}

.top-header{

  height:90px;
  background:#fff;

  padding:0 30px;

  display:flex;
  align-items:center;
  justify-content:space-between;

  box-shadow:0 2px 10px rgba(0,0,0,.05);
}

.menu-btn{

  display:none;

  border:none;

  background:#145528;

  color:#fff;

  width:45px;
  height:45px;

  border-radius:10px;
}

.welcome h2{
  margin:0;
}

.welcome p{
  margin:4px 0 0;
  color:#777;
}

.profile-box{
  display:flex;
  align-items:center;
  gap:12px;
}

.profile-box img{
  width:48px;
  height:48px;
  border-radius:50%;
}

.page-content{
  padding:25px;
}

@media(max-width:992px){

  .sidebar{

    position:fixed;

    left:-100%;
    top:0;

    height:100%;
    z-index:999;
  }

  .sidebar.open{
    left:0;
  }

  .menu-btn{
    display:block;
  }

  .welcome{
    display:none;
  }

}

.logo-section{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.brand-info{
  display:flex;
  align-items:center;
  gap:12px;
}

.close-sidebar{
  display:none;

  border:none;
  background:none;

  color:#fff;
  font-size:1.3rem;

  cursor:pointer;
}

@media(max-width:992px){

  .close-sidebar{
    display:block;
  }

}