<div class="change-password-page">

    <div class="change-card">

        <!-- =====================================================
             LOGO
             ===================================================== -->

        <div class="logo">

            <img
                src="img/logo.png"
                alt="IRIFAMS Logo"
            >

            <h2>
                {{ recoveryMode
                    ? 'Create New Password'
                    : 'Change Password'
                }}
            </h2>

            <p *ngIf="recoveryMode">

                Your identity has been verified successfully.
                Create a new secure password for your IRIFAMS account.

            </p>

            <p *ngIf="!recoveryMode">

                Your account is using a temporary password.
                Please create a new secure password before continuing.

            </p>

        </div>


        <!-- =====================================================
             FORM
             ===================================================== -->

        <form
            (ngSubmit)="changePassword()"
            #passwordForm="ngForm"
        >


            <!-- =================================================
                 CURRENT PASSWORD
                 TEMPORARY PASSWORD MODE ONLY
                 ================================================= -->

            <div
                class="form-group"
                *ngIf="!recoveryMode"
            >

                <label>
                    Current Password
                </label>

                <div class="password-field">

                    <input
                        [type]="
                            showCurrent
                                ? 'text'
                                : 'password'
                        "

                        [(ngModel)]
                        ="passwordData.currentPassword"

                        name="currentPassword"

                        placeholder="Enter current password"

                        autocomplete="current-password"

                        required
                    >

                    <i
                        class="fa-solid"

                        [class.fa-eye]="
                            !showCurrent
                        "

                        [class.fa-eye-slash]="
                            showCurrent
                        "

                        (click)="
                            showCurrent =
                            !showCurrent
                        "
                    ></i>

                </div>

            </div>


            <!-- =================================================
                 NEW PASSWORD
                 ================================================= -->

            <div class="form-group">

                <label>
                    New Password
                </label>

                <div class="password-field">

                    <input
                        [type]="
                            showNew
                                ? 'text'
                                : 'password'
                        "

                        [(ngModel)]
                        ="passwordData.newPassword"

                        name="newPassword"

                        placeholder="Enter new password"

                        autocomplete="new-password"

                        required
                    >

                    <i
                        class="fa-solid"

                        [class.fa-eye]="
                            !showNew
                        "

                        [class.fa-eye-slash]="
                            showNew
                        "

                        (click)="
                            showNew =
                            !showNew
                        "
                    ></i>

                </div>

            </div>


            <!-- =================================================
                 CONFIRM PASSWORD
                 ================================================= -->

            <div class="form-group">

                <label>
                    Confirm Password
                </label>

                <div class="password-field">

                    <input
                        [type]="
                            showConfirm
                                ? 'text'
                                : 'password'
                        "

                        [(ngModel)]
                        ="passwordData.confirmPassword"

                        name="confirmPassword"

                        placeholder="Confirm new password"

                        autocomplete="new-password"

                        required
                    >

                    <i
                        class="fa-solid"

                        [class.fa-eye]="
                            !showConfirm
                        "

                        [class.fa-eye-slash]="
                            showConfirm
                        "

                        (click)="
                            showConfirm =
                            !showConfirm
                        "
                    ></i>

                </div>

            </div>


            <!-- =================================================
                 PASSWORD INFORMATION
                 ================================================= -->

            <div class="password-info">

                <i class="fa-solid fa-shield-halved"></i>

                <span>
                    Use a password with at least 4 characters.
                </span>

            </div>


            <!-- =================================================
                 SUBMIT BUTTON
                 ================================================= -->

            <button
                type="submit"
                [disabled]="loading"
            >

                <span *ngIf="!loading">

                    <i class="fa-solid fa-lock"></i>

                    {{
                        recoveryMode
                            ? 'Reset Password'
                            : 'Change Password'
                    }}

                </span>


                <span
                    *ngIf="loading"
                    class="loading-content"
                >

                    <span class="spinner"></span>

                    {{
                        recoveryMode
                            ? 'Resetting...'
                            : 'Updating...'
                    }}

                </span>

            </button>

        </form>


        <!-- =====================================================
             BACK TO LOGIN
             ONLY RECOVERY MODE
             ===================================================== -->

        <div
            class="back-login"
            *ngIf="recoveryMode"
        >

            <a routerLink="/login">

                <i class="fa-solid fa-arrow-left"></i>

                Back to Login

            </a>

        </div>


    </div>

</div>